.fr_logo-box
  height: 10vh;

.fr_logo-image
  height: 100%

.fr_tagline-box
  font-size: 4vmin

.fr_tagline-text
  margin: 0

.fr_filler-box
  height: 80vh
  //background: url('teaser_light.jpg') no-repeat center center; background-size: cover;