.share_boxes
  height: 90vh
  -webkit-justify-content: space-around
  justify-content: space-around

.share_box
  width: 30vmin
  height: 30vmin
  flex-basis: 33%
  +below(500px)
    flex-basis: 50%

.share_logo
  z-index: 100
  width: 15vmin
  position: relative
  +below(450px)
    margin-top: 25vmin
    width: 25vmin

.share_logo-box
  width: 100%
  justify-content: center
  -webkit-justify-content: center

.share_blur
  filter: blur(.1rem)

.share_fav-box
  position: absolute
  bottom: 0
  padding-bottom: 2vw;
  height: 100vh;
  width: 100%
  background: hsla(0,0,100,.7);

.share_fav-text
  font-size: 4vmin;
  padding-top: 2vmin

.share_buttons
  justify-content: space-around

.share_button
  max-width: 175px
  min-width: 100px
  min-height: 100px;
  height: 10vw
  transition: .3s all cubic-bezier(0.25, 0.46, 0.45, 0.94);

.share_button-selected
  filter: contrast(1.5);
  transform: scale(1.25);

.share_button:hover
    @extend .share_button-selected

.share_button.selected
    @extend .share_button-selected
