.share_boxes
  height: 90vh
  -webkit-justify-content: space-around
  justify-content: space-around

.share_box
  width: 30vmin
  height: 30vmin
  flex-basis: 33%
  +below(500px)
    flex-basis: 50%

.share_logo
  z-index: 100
  width: 15vmin
  position: relative
  +below(450px)
    margin-top: 25vmin
    width: 25vmin

.share_logo-box
  width: 100%
  justify-content: center
  -webkit-justify-content: center

.share_fav-box
  position: absolute
  bottom: 0
  width: 100%
  max-width: 100vw
  background: hsla(0,0,100,.8);
  z-index: 90
  transition: .3s all ease-in-out;

  &.animation-start
    transform: translateY(100%)
  &.animation-end
    transform: translateY(0)

.share_fav-text
  font-size: 4vmin;
  padding-top: 2vmin
  padding-bottom: 2vmin
  color: hsl(358, 98%, 40%);

.share_buttons-box
  justify-content: center

.share_button
  max-width: 175px
  max-height: 175px
  min-width: 100px
  min-height: 100px;
  height: 12vw
  width: 12vw

  transition: .3s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
  margin-bottom: 2vw;
  +below(625px)
    flex-basis: 33%
    flex-grow: 0

.share_button-selected
  filter: contrast(1.5);
  transform: scale(1.25);

.share_button:hover
  @extend .share_button-selected

.share_button.selected
  @extend .share_button-selected

.share_to-box
  width: 100%
  padding: 3vmin 0 2vmin
  background: black

.share_to-box.layout
  justify-content: space-around
  color: white

.share_signup-box
  position: absolute
  bottom: 0
  width: 100%
  max-width: 100vw
  background: hsla(0,0,100,.8);
  z-index: 90
  text-align: center

.share_signup-form
  max-width: 600px
  margin: 0 auto
