.share_boxes
  height: 90vh
  -webkit-justify-content: space-around
  justify-content: space-around

.share_box
  width: 30vmin
  height: 30vmin
  flex-basis: 33%
  +below(500px)
    flex-basis: 50%

.share_logo
  z-index: 100
  width: 15vmin
  position: relative
  +below(450px)
    margin-top: 25vmin
    width: 25vmin

.share_logo-box
  width: 100%
  justify-content: center
  -webkit-justify-content: center

.share_fav-box
  position: absolute
  bottom: 0
  width: 100%
  max-width: 100vw
  z-index: 90
  overflow: hidden;

.share_fav-container
  transition: .7s all ease-in-out;
  transform: translateY(50vmin)
  user-select: none
  pointer-events: none
  background: hsla(0,0,100,.8);

  +above(500px)
    padding: 0 2vmin
    background: none
  &.visible
    pointer-events: initial
    transform: translateY(0)

.share_fav-text
  font-size: 4vmin;
  padding-top: 2vmin
  padding-bottom: 2vmin
  padding-right: 1vmin
  color: hsl(358, 98%, 40%);
  +above(625px)
   font-size: 2vmin
   text-align: right

.share_buttons-box
  justify-content: center
  float: right
  +below(625px)
    float: initial

.share_button
  max-width: 125px
  max-height: 125px
  min-width: 75px
  min-height: 75px;
  height: 10vmin
  width: 10vmin
  transition: .3s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
  margin-bottom: 2vw;
  +below(625px)
    flex-basis: 33%
    flex-grow: 0
    min-height: 40px
    min-width: 40px

.share_button-selected
  filter: contrast(1.5);
  transform: scale(1.25);

.share_button:hover
  @extend .share_button-selected

.share_button.selected
  @extend .share_button-selected

.share_to-box
  width: 100%
  padding: 3vmin 0 2vmin
  background: black

.share_to-box.layout
  justify-content: space-around
  color: white

.share_signup-box
  position: absolute
  bottom: 0
  width: 100%
  max-width: 100vw
  background: hsla(0,0,100,.8);
  z-index: 90
  text-align: center

.share_signup-form
  max-width: 600px
  margin: 0 auto

.share_fav-close
  position: absolute
  right: 2vmin
  top: 2vmin
  font-size: 2vmin
  +below(500px)
    font-size: 2rem
    top: .5rem
    right: .5rem

.fb_iframe_widget
    display: block !important;
    transform: scale(1.4) !important;
    max-width: 150px;
    overflow: hidden;
    margin: 0 auto;