.signup_splash
  height: 100vh
  & *
    transition: .2s all ease-in-out
.signup_splash-text
  margin: 2rem

.signup_splash-back
  color: gray
  padding-top: 2rem
  &:hover
    gray

.signup_splash-form
  align-self: center

.signup_splash-form input
  border-radius: .2rem
  margin: .4rem
  outline: none
  border: 1px gray solid

.signup_splash-form button
  margin: .4rem
  background: red
  border: none
  color: white
  border-radius: .2rem
  padding: .4rem 1rem

  &:hover
    color: hsla(0,0,0,.7);