@import '_normalize.styl'
@import '_basscss.styl'
@import '_base.styl'
@import '_splash.styl'
@import '_front.styl'
@import '_signup.styl'


// @import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=cc3b848b-7e30-4728-8f02-ea9b75c6cbd1");
// @font-face{
// font-family:"ITC Blair W01 Light";
// src:url("../Fonts/36fa18df-ca36-404f-bf7f-f1d87ac2de72.eot?#iefix");
// src:url("../Fonts/36fa18df-ca36-404f-bf7f-f1d87ac2de72.eot?#iefix") format("eot"),url("../Fonts/7e65113c-1545-46b3-81b3-eaa1b39de267.woff2") format("woff2"),url("../Fonts/b235e761-c840-4818-93fd-d506833cd5a1.woff") format("woff"),url("../Fonts/b2de548f-cfc3-4b8f-8f2a-76da6fb12a11.ttf") format("truetype"),url("../Fonts/a2628153-89f9-4a59-8138-02e6140203a2.svg#a2628153-89f9-4a59-8138-02e6140203a2") format("svg");
// }
// @font-face{
// font-family:"ITC Blair W01 Medium";
// src:url("../Fonts/302066bd-ead0-422e-87c0-cccc9f3c3932.eot?#iefix");
// src:url("../Fonts/302066bd-ead0-422e-87c0-cccc9f3c3932.eot?#iefix") format("eot"),url("../Fonts/a4bf9f48-3c1d-47c5-ad71-083290d5550e.woff2") format("woff2"),url("../Fonts/acb2708e-08cc-44a8-bbc7-b37a23f7d899.woff") format("woff"),url("../Fonts/ad99dee8-d57b-4a6e-8825-dbc300397209.ttf") format("truetype"),url("../Fonts/989d6d04-09c7-4a28-ac7f-4bd8e01849cc.svg#989d6d04-09c7-4a28-ac7f-4bd8e01849cc") format("svg");
// }
// @font-face{
// font-family:"ITC Blair W01 Bold";
// src:url("../Fonts/74b3e90e-7b09-45d5-b4de-52d391589877.eot?#iefix");
// src:url("../Fonts/74b3e90e-7b09-45d5-b4de-52d391589877.eot?#iefix") format("eot"),url("../Fonts/f97f6453-1f17-40c5-91f4-6b594785a9ec.woff2") format("woff2"),url("../Fonts/54f2452f-9784-4c1e-8869-0b502a42aebb.woff") format("woff"),url("../Fonts/0dd9f9a0-76bb-49e8-8adb-57141daf5e5a.ttf") format("truetype"),url("../Fonts/9efe897a-2002-473c-a9f3-6d1a6ccda31b.svg#9efe897a-2002-473c-a9f3-6d1a6ccda31b") format("svg");
// }



body
  font-family: 'ITC Blair W01 Light';

h1, h2, h3, h4, h5, h6
  font-family: 'ITC Blair W01 Light';

.font-light
  font-family: 'ITC Blair W01 Light';

.font-medium
  font-family: 'ITC Blair W01 Medium';

.font-bold
  font-family: 'ITC Blair W01 Bold';
