@import '_normalize.styl'
@import '_basscss.styl'
@import '_base.styl'
@import '_splash.styl'
@import '_front.styl'

body{
  font-family: 'BlairITCStd';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'BlairITCStd';
}
