@import '_normalize.styl'
@import '_basscss.styl'
@import '_base.styl'
@import '_splash.styl'
@import '_front.styl'

.font-light{
  font-family:'ITC Blair W01 Light';
}

.font-medium{
  font-family:'ITC Blair W01 Medium';
}

.font-bold{
  font-family:'ITC Blair W01 Bold';
}

body{
  @extend .font-medium
}

h1, h2, h3, h4, h5, h6 {
  @extend .font-medium
}